html,
body{
	height: 100%;
	font-size: 	16px;
	background: url(img/background.jpg) center center; 	
}
.bold-green{
	font-weight: 	bold;	
	color: green;
}
.green-underline{
	text-decoration: 	underline;	
	text-decoration-color: 	green;
}
 #cover{
 	height: 100%;
 	background: url(img/trees.jpg) center;\ 
 	background-size: cover;
 	color: black;

 }
 .wall-sticker{
 	padding: 14rem 20rem 6rem 3rem;
 	font-size: 5rem;
 	font-weight: bold;
 	color: green;
 	background: rgba(0,0,0,0.3);

 }
 .moto{
 	font-size: 3rem;
 	margin-top: 245px;
 	margin-left: 350px;
 	text-align: center;
 }

 .btn{
 	border: 1px solid green;
 }

 .btn-lg,
 .btn-outline-success{
 	background-color: transparent;
 	border-radius: 5px;
 	border-color: 1px solid rgba(19, 128, 26, 1);
 	transition: 0.5s;
 } 

.btn-lg:hover,
.btn-lg:focus,
.btn-lg:active,
.btn-outline-success:hover,
.btn-outline-success:focus,
.btn-outline-success:active{
	background-color: rgba(19,128,36,0.54); 
	border:1px solid rgba(19, 128, 26, 0);
	transition: 0.5s;
}

.fa-arrow-down{
	margin-left: 35rem;
	margin-top: 50px;
	font-size: 2.5rem;
	color: white;
	transition: 0.3s;
}

.fa-arrow-down:hover{
	color: rgba(19,128,36,0.54);
	transition: 0.3s;
}

.navbar-brand{
	padding-right: 15px;
}

#main-nav li a{
	border-bottom: 1px solid transparent;
	transition: 0.5s;
}
#main-nav li a:hover{
	border-bottom: 1px solid green;
	transition: 0.5s;
}
.section-features{
	padding: 5rem 0;
}
.square{
	text-align: center;

}


.square i{
	text-align: center;
	margin-top: 5rem;
	margin-bottom: 1rem;
}

.square i:hover{
	color: rgba(19,128,36,1);
	transition: 0.3s;
}


.square p {
	padding-top: 1rem;
	font-size: 1.2rem;

		}

.green-hr{
	border-top: 1px solid rgba(19,128,36,1);
	width: 150px;
	background-color: rgba(19,128,36,1);
}

.heading{
	text-align: center;
}

.under-heading{
	text-align: center;
}

/* Section Timeline */

.timeline{
	list-style: none;
	padding: 20px 0 80px;
	padding-top: 50px;
	position: relative;
}

.timeline:before {
	top: 0;
	bottom: 0;
	position: 	absolute;	
	content: "";
	width: 	3px;
	background-color: 	#eeeeee;
	left: 50%;
	margin-left: 1.5px;
}
.section-timeline{
	background-color: white;
	padding-top: 5rem;
}

.timeline > li {
	margin-bottom: 	20px;
	position: 	relative;	
}

.timeline > li:before,
.timeline > li:after{
	content: "";
	display: table;	
}

.timeline > li:after{
	clear: 	both;	
}

.timeline > li > .timeline-panel{
	width: 	50%;
	float: 	left;
	border: 1px solid #d4d4d4;	
	border-radius: 2px;
	padding: 20px;
	position: 	relative;	
	box-shadow: 0 1px 6px rgba(0,0,0,0.175);	
}

.timeline p {
	font-weight: 700;
}

.timeline > li:not(.timeline-inverted) {
	padding-right: 90px;
}

.timeline > li.timeline-inverted{
	padding-left: 90px;
}

.timeline > li > .timeline-badge{
	font-size: 1rem; !important
	color: #fff;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	position: absolute;
	top: 16px;
	left: 50%;
	margin-left: -23px;
	background-color: rgba(19,128,36, 0.82);
	border-top-right-radius: 50px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
}

.timeline >li.timeline-inverted > .timeline-panel{
	float: right;
}

















